<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byDay" datePattern="yyyyMMdd" />
    <springProperty scope="context" name="LOG_DIR" source="lcm.log.location" defaultValue="/var/log/lcm"/>
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %5r %-5level [%thread] %logger{36} - %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

 
    <appender name="camunda_log_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/legal-case-management-camunda.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/legal-case-management-camunda-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="rest_log_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/legal-case-management-rest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/legal-case-management-rest-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.generali.legalcasemanagement.camunda" level="info">
        <appender-ref ref="camunda_log_file" />
    </logger>

    <logger name="com.generali.legalcasemanagement.rest" level="info">
        <appender-ref ref="rest_log_file" />
    </logger>

    <root level="info">
        <appender-ref ref="console" />
    </root>

</configuration>